:root {
    --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Nunito Sans", sans-serif;
    --nav-font: "Raleway", sans-serif;
}

:root {
    --background-color: #031119;
    --default-color: rgba(255, 255, 255, 0.8);
    --heading-color: #e0e9f2;
    --accent-color: #e3a127;
    --surface-color: #1b262c;
    --contrast-color: #ffffff;
}

:root {
    --nav-color: rgba(255, 255, 255, 0.8);
    --nav-hover-color: #e3a127;
    --nav-mobile-background-color: #29343a;
    --nav-dropdown-background-color: #29343a;
    --nav-dropdown-color: rgba(255, 255, 255, 0.8);
    --nav-dropdown-hover-color: #e3a127;
}

.light-background {
    --background-color: #0d1d26;
    --surface-color: #16262f;
}

.dark-background {
    --background-color: #060606;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: #252525;
    --contrast-color: #ffffff;
}

body {
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
}

a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h5, h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
}

.header {
    --background-color: rgba(255, 255, 255, 0);
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 20px 0;
    transition: all 0.5s;
    z-index: 997;
}

.header .header-container {
    background: var(--surface-color);
    border-radius: 50px;
    padding: 5px 25px 5px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.header .logo {
    line-height: 1;
}

.header .logo img {
    max-height: 36px;
    margin-right: 8px
}

.header .btn-getstarted,
.header .btn-getstarted:focus {
    color: var(--contrast-color);
    background-color: var(--accent-color);
    font-size: 14px;
    padding: 8px 20px;
    margin: 0 0 0 30px;
    border-radius: 50px;
    
}